@model IEnumerable<Hochwaerts.Models.Verleihobjekt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bibliothek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zauberer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verleihdatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bibliothek.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buch.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zauberer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verleihdatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-action="Ausleihen" asp-route-id="@item.Id">Ausleihen</a>
                <a asp-action="Zurückgeben" asp-route-id="@item.Id">Zurückgeben</a>
                @if (item.StatusId == 3)
                {
                    <a asp-action="Beschädigt" asp-route-id="@item.Id">Beschädigt</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
