@model IEnumerable<Hochwaerts.Models.Verleihobjekt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buch)
            </th>
            <th>
                Ausgeliehen von
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verleihdatum)
            </th>
            <th>
                Mahnstatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Zustand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buch.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zauberer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verleihdatum)
            </td>
            <td>
                @{
                    if (item.Verleihdatum != null)
                    {
                        var mahndatum = Convert.ToDateTime(item.Verleihdatum);
                        if ((DateTime.Now-mahndatum).TotalDays>50)
                        {
                            <p>3. Mahnung wurde verschickt</p>
                        }
                        else if ((DateTime.Now - mahndatum).TotalDays > 40)
                        {
                            <p>2. Mahnung wurde verschickt</p>
                        }
                        else if((DateTime.Now - mahndatum).TotalDays > 30)
                        {
                            <p>1. Mahnung wurde verschickt</p>
                        }
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @if (item.StatusId == 1)
                {
                    <a asp-action="Ausleihen" asp-route-id="@item.Id">Ausleihen</a>
                }
                @if (item.StatusId == 2)
                {
                    <a asp-action="Zurückgeben" asp-route-id="@item.Id">Zurückgeben</a>
                }
                @if (item.StatusId == 3)
            {
                <a asp-action="Beschädigt" asp-route-id="@item.Id">Beschädigt</a>
                <a asp-action="nichtBeschädigt" asp-route-id="@item.Id">nicht Beschädigt</a>
            }
                @if (item.Verleihdatum != null)
                {
                    var mahndatum = Convert.ToDateTime(item.Verleihdatum);
                    if ((DateTime.Now - mahndatum).TotalDays > 415&&item.StatusId==5)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">abschreiben</a>
                    }
                    else if ((DateTime.Now - mahndatum).TotalDays > 50)
                    {
                        <a asp-action="verschollen" asp-route-id="@item.Id">verschollen</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
